html{
  height: 100%;
}
body{
  height: 100%;
  background-image: url('../images/blur2.png');  
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  overflow-x: hidden; 
  overflow-y: hidden; 
}
h1, h2, h3, h4, h5, h6{
  color:white;
  font-family: 'Raleway', sans-serif;
}
h3{
  margin-top: 5px;
}
hr{
  border-color: grey;
  margin-top:-5pt;
}
a:link, a:active, a:visited, a:hover{
    color:white;
}
.icon{
  text-align: center;
  color:white;
}

.icon span{
  font-size: 64px;
}
.icon a{
  text-decoration: none;

}
#back{
  font-size: 48px;
  text-align: left;
  position: absolute;
  margin-left: 1%;
  margin-top:-0.5em;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}
.slide{
  animation-duration: .5s;
  animation-name: slide;
}
.fadeOut{
  animation-duration: .5s;
  animation-name: fadeOut;
}
.fadeIn{
  visibility: visible;
  animation-duration: .5s;
  animation-name: fadeIn;
}
#title{
  margin-bottom:0px;
  margin-right: 5px;
  text-align:right;
}
#me{
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
@keyframes slide{
  from{
    margin-left: 100%;
  }
  to{
    margin-left: 1%;
  }
}
