<div type="main" class="content">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-0 col-sm-12 col-sm-offset-0" id="me">
		     <img class="" src="images/me.jpeg">
		</div>
	  <div class="col-xs-4 col-sm-12" id="navigation-list">
	      <a href="/#/work">
	        <div class="col-xs-12 col-sm-3 icon">
	          <span class="ion-hammer"></span>
	          <br>
	          <h3>work</h3>
	        </div>
	      </a>
	      <a href="/#/about">
	        <div class="col-xs-12 col-sm-3 icon">
	          <span class="ion-ios7-paper"></span>
	          <br>
	          <h3>about</h3>
	        </div>
	      </a>
	      <a href="/#/style">
	        <div class="col-xs-12 col-sm-3 icon">
	          <span class="ion-edit"></span>
	          <br>
	          <h3>style</h3>
	        </div>
	      </a>
	      <a href="/#/contact">
	        <div class="col-xs-12 col-sm-3 icon">
	          <span class="ion-speakerphone"></span>
	          <br>
	          <h3>contact</h3>
	        </div>
	      </a>
	  </div>
	</div>
</div>
