<div class="row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
	  <img id="me" class="center-block" width="75%" src="images/me.jpeg">
	</div>
</div>
<div class="row" style="bottom:1px; margin-top: 5%;">
      <div ng-click="leaveMain('work')" class="col-xs-6 col-sm-3 icon">
        <span class="ion-hammer"></span>
        <br>
        <h3>work</h3>
      </div>
      <div ng-click="leaveMain('about')" class="col-xs-6 col-sm-3 icon">
        <span class="ion-ios7-paper"></span>
        <br>
        <h3>about</h3>
      </div>
      <div ng-click="leaveMain('style')" class="col-xs-6 col-sm-3 icon">
        <span class="ion-edit"></span>
        <br>
        <h3>style</h3>
      </div>
      <div ng-click="leaveMain('contact')" class="col-xs-6 col-sm-3 icon">
        <span class="ion-speakerphone"></span>
        <br>
        <h3>contact</h3>
      </div>
</div>