<div class="row">
  <ul id="scene">
  	<div class="col-xs-9 col-sm-6 col-sm-offset-3">
      <li class="layer" data-depth="0.10">
  	     <img id="me" class="center-block" width="75%" src="images/me.jpeg">
      </li>
  	</div>
    <div class="col-xs-3 col-sm-12">
      <li class="layer" data-depth="0.50">
        <a href="/#/work">
          <div class="col-sm-3 icon">
            <span class="ion-hammer"></span>
            <br>
            <h3>work</h3>
          </div>
        </a>
        <a href="/#/about">
          <div class="col-sm-3 icon">
            <span class="ion-ios7-paper"></span>
            <br>
            <h3>about</h3>
          </div>
        </a>
        <a href="/#/style">
          <div class="col-sm-3 icon">
            <span class="ion-edit"></span>
            <br>
            <h3>style</h3>
          </div>
        </a>
        <a href="/#/contact">
          <div class="col-sm-3 icon">
            <span class="ion-speakerphone"></span>
            <br>
            <h3>contact</h3>
          </div>
        </a>
      </li>
    </div>
  </ul>
</div>
