<div class="content">
  <h3>Work</h3>
  <p>This is the work view.</p>
  <button data-toggle="modal" data-target="#work-modal">Modal</button>
</div>
<div id="work-modal" class="modal zoom">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding-left:0;padding-top:0;padding-bottom:0;">
        <a href="" class="back" style="color:black; margin-top:-15px;" data-toggle="modal" data-target="#work-modal">
          <span class="ion-ios7-arrow-left"></span>
        </a>
        <h1 class="title" style="color: black; margin-top:20px;">
          Title
        </h1>
      </div>
      <div div class="modal-body">
        test
      </div>
    </div>
  </div>
</div>
